.section {
    width: 50%;
    padding: 20px;
    margin: 100px auto;
    border-radius: 10px;
    background-color: rgb(118, 112, 112);

}

#sobre-mi {
        font-size: 18px;
    color: rgb(255, 251, 131);
    font-weight: bold;
    background-color: rgb(118, 112, 112);
    padding: 20px;
    border-radius: 10px;
}



#Educacion{
        font-size: 18px;
    color: rgb(98, 3, 3);
    font-weight: bold;
    background-color: rgb(118, 112, 112);
    padding: 25px;
    border-radius: 10px;
}

#experiencia {
    width: 50%;
    padding: 20px;
    margin: 100px auto;
    border-radius: 10px;
     background-color: rgb(118, 112, 112);
    background-image: url(https://www.fomostore.in/cdn/shop/products/Brothers-Innovation-Stickers-Anime-Gojo_Satoru_Chibi-Image-1.jpg?v=1738333997&width=2048);
background-position: center;
background-repeat: no-repeat;
}

#encabezado {
    background-color: rgb(64, 59, 59);
    padding: 20px;
    border-radius: 10px;
}

.card_Title {
    font-size: 18px;
    color: rgb(237, 229, 0);
    font-weight: bold;
}
.card_button {
    background-color: rgb(0, 136, 255);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}